.services {
    padding: 10rem 0;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    /* Gap for border effect */
    background-color: rgba(255, 255, 255, 0.2);
    /* Border color */
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card {
    background-color: var(--bg-primary);
    padding: 4rem 2rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s ease;
    cursor: none;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.id {
    font-family: var(--font-body);
    font-size: 0.8rem;
    color: var(--text-muted);
}

.icon {
    font-size: 2rem;
    color: var(--text-primary);
}

.title {
    font-size: 3rem;
    margin: 0;
    z-index: 2;
    transition: color 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover .title {
    color: #000;
}

.card:hover .icon {
    color: #000;
}

.card:hover .id {
    color: #000;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .card {
        height: 300px;
    }
}